<p-toast position="bottom-center"></p-toast>

<div class="p-d-flex p-jc-center" style="height: 100vh;">
    <div class="p-mr-2 p-as-center">
        <input type="text" pInputText placeholder="Youtube Link" [(ngModel)]="link" style="width: 30vw;" />
        <p-dropdown [options]="formats" [(ngModel)]="selectedFormat" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-mr-2 p-as-center">
        <button pButton type="button" (click)="setDownloadMode()" label="Download" type="button" fileSaver
            (success)="onSuc($event)" (error)="onErr($event)" [query]="{ url: link, format: selectedFormat }"
            [method]="'GET'" [fileName]="'test.mp4'" [url]="downLoadUrl" icon="pi pi-download"></button>
    </div>


    <!--
    <div class="p-mr-2 p-as-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
    -->
</div>